body {
    font-family: sans-serif;
    padding: 2rem 4rem;
}

p {
    margin-bottom: 1rem;
}

img {
    width: 300px;
    height: 300px;
    margin-bottom: 3rem;
    transition: transform .5s;
    /* 자연스러움을 주기 위해 천천히 트랜스폼하는 트랜지션 효과를 주는 속성값 */
}



.transform1:hover {
    /* :hover{}는 커서를 위에 올렸을 때 {} 효과를 주라는 의미. 단 콜론 전후로 띄우면 안 된다. */
    /* 가로 방향으로 1.5배 늘린다. */
    transform: scaleX(1.5);
}

.transform2:hover {
    /* 세로 방향으로 0.5배 줄인다. */
    transform: scaleY(0.5);
}

.transform3:hover {
    /* 가로 방향으로 1.5배 늘리고, 세로 방향으로 0.5배 줄인다. */
    transform: scale(1.5, 0.5);
}