@charset "UTF-8";

/*
GENERAL STYLING
================================================ */
html {
    font-size: 100%;
}
body {
	color: #555;
	font-family: sans-serif;
}

/*
COMMON
================================================ */
.title {
    font-family: 'Dancing Script', cursive;
    font-size: 7rem;
    margin-bottom: 2rem;
}
p {
    line-height: 1.7;
    font-size: 1.125rem;
}

.container {
    overflow: auto;
    scroll-snap-type: y mandatory;
    height: 100vh;
}
section {
    height: 100vh;
    scroll-snap-align: start;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.hero {
    background-image: url(../images/character/해달프렌즈.png);
    text-align: center;
    padding-top: 10vh;
}

.haedal {
    background-image: url(../images/character/해달.jpg);
    display: flex;
    align-items: center;
}

.wrapper {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

/*
CONTACT
================================================ */
.contact {
    height: 50vh;
    background-color: rgb(44, 44, 44);
    text-align: center;
    padding-top: 8vh;
    color: white;
}
.contact-sns {
    display: flex;
    justify-content: center;
}
.contact-sns a {
    background: rgba(255,255,255,.5);
    width: 3.75rem;
    height: 3.75rem;
    display: inline-block;
    margin: 0 .5rem;
    border-radius: 50%;
    font-size: 2rem;
    padding: .75rem 0 0 .125rem;
}
.contact-sns a:hover {
    background: rgba(255,255,255,.3);
}

/*
MOBILE SIZE
================================================ */
@media (max-width: 700px) {
    .title {
        font-size: 4rem;
    }
    p {
        padding: 0 1rem;
    }
    p,
    .menu-list li {
        font-size: 1rem;
    }
    .hero {
        padding-top: 12vh;
    }
}
